{% extends 'tmpl.html' %}

{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">
    {% block title %}
        {{ session['username'] }}, Welcome to Link Shortener
    {% endblock %}
    <br>
    <br>
</h1>
    {% for field, errors in form.errors.items() %}
        <small class="form-text text-muted ">
            {{ ', '.join(errors) }}
        </small>
    {% endfor %}
<form action="" method="post">
    <p>
        {{form.source_link.label}}
        {{form.source_link(size=40)}}
    </p>
    <p>
        {{form.human_link.label}} <br>
        {{form.human_link(size=30)}}
    </p>
    <p>
        {{form.link_type.label}} <br>
        {{form.link_type}}
    </p>
    <p>
        {{form.submit()}}
    </p>
</form>
    {% if short_url %}
        <hr>
        <span>{{ short_url }}</span>
    {% endif %}
    <br>
    {% if human_url %}
        <hr>
        <span>{{ human_url }}</span>
    {% endif %}
</div>
{% endblock %}