{% extends 'login_tmpl.html' %}

{% block content %}
<h2> Link Shortener </h2>
<div class="container">
        {% for field, errors in form.errors.items() %}
            <small class="form-text text-muted ">
                {{ ', '.join(errors) }}
            </small>
        {% endfor %}
    <form action="" method="post">
        <p>
            {{form.username.label}} <br>
            {{form.username(size=30)}}
        </p>
        <p>
            {{form.password.label}} <br>
            {{form.password(size=30)}}
        </p>
        <p>
            {{form.submit()}}
        </p>
        <hr align=left width="300px">
        <p><a href="{{url_for('register')}}">Sign up</a>
    </form>
</div>

{% endblock %}