{% extends 'login_tmpl.html' %}

{% block content %}

<h2> Registration form </h2>
<div class="container">
        {% for field, errors in form.errors.items() %}
            <small class="form-text text-muted ">
                {{ ', '.join(errors) }}
            </small>
        {% endfor %}
<form action="" method="post">
    <p>
        {{form.username.label}} <br>
        {{form.username(size=30)}}
    </p>
    <p>
        {{form.password.label}} <br>
        {{form.password(size=30)}}
    </p>
    <p>
        {{form.valid_password.label}} <br>
        {{form.valid_password(size=30)}}
    </p>
    <p>
        {{form.register()}}
    </p>

    <hr align=left width="300px">
    <p><a href="{{url_for('log')}}">Sign in</a>
</form>
</div>

{% endblock %}